<header id="header" class="fixed-top d-flex align-items-center" [ngClass]="{'header-scrolled':headerConfig.canHeaderBeFixed}">
    <div class="container d-flex align-items-center">

        <div class="logo mr-auto">
            <h1 class="text-light"><a href="index.html"><span>Surabhi Craftsvilla</span></a></h1>
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
        </div>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#why-us">Why us?</a></li>
                <li><a href="products.html" [routerLink]="['/products']">Products</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#contact">Contact</a></li>

                <li class="book-a-product text-center"><a href="#book-a-product">Book</a></li>
            </ul>
        </nav>

    </div>
</header>


