<section id="about" class="about">
    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-4 align-items-stretch video-box">
                 <img src="./assets/img/aboutus.jpg" width="100%" height="100%"/>
                <!--            <a href="https://www.youtube.com/watch?v=-yywA3JJ1ic" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>-->
            </div>

            <div class="col-lg-8 d-flex flex-column justify-content-center align-items-stretch">

                <div class="content">
                    <h3>About <strong>Surabhi Craftsvilla</strong></h3>
                    <!-- <p>
                        Our handmade Items are Crafted in an environment of Joy, Honor, and Respect. Our intent is
                        for you to realize the desirability of the handmade art work over usual machine made goods.
                    </p> -->
                    <p class="style-description">
                        Our handmade Items are Crafted in an Environment of Joy, Honor, and Respect. <br/>
                        Our intent is for you to realize the desirability of the handmade art work over usual machine made goods. <br/>
                        By choosing our products, you not only make your loved ones more special but also help in revitalizing the prestige of indian culture and elevate the life of indian handicraftsmen. <br/>
                        We also help in creating a platform for new enthusiasts by supporting them in marketing their creation and celebrate collective creativity.
                    </p>
                    <!-- <ul>
                        <li><i class="bx bx-check-double"></i>We help in revitalizing the prestige of indian culture
                            and
                            elevate the life of indian handcraftsman.
                        </li>
                        <li><i class="bx bx-check-double"></i> We partner directly with
                            traders/NGO’s/SHG’s who comply in accordance with fair trade principles.
                        </li>
                        <li><i class="bx bx-check-double"></i> We
                            also help in creating a platform for new enthusiasts by supporting them in
                            marketing their creation and celebrate collective creativity.
                        </li>
                    </ul> -->
                </div>

            </div>

        </div>

    </div>
</section>