<section id="testimonials" class="testimonials">
    <div class="container">

        <div class="owl-carousel testimonials-carousel">

            <div class="testimonial-item">
                <h3>Poornakala</h3>
                <h4>Chennai</h4>
                <div class="stars">
                    <i class="icofont-star"></i>
                    <i class="icofont-star"></i>
                    <i class="icofont-star"></i>
                    <i class="icofont-star"></i>
                    <i class="icofont-star"></i>
                </div>
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Brought Jute bag for wedding. Bags are delivered with excellent quality and of
                    exact color what we suggest.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
            </div>

            <div class="testimonial-item">
                <h3>Kamaleshwaran</h3>
                <h4>Chennai</h4>
                <div class="stars">
                    <i class="icofont-star"></i>
                    <i class="icofont-star"></i>
                    <i class="icofont-star"></i>
                    <i class="icofont-star"></i>
                    <i class="icofont-star"></i>
                </div>
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    My little princess distributed Wooden Pencil, bought from Surabhi crafts villa, on
                    her birthday to all her class friends. Her friends loved the pencil and little figure
                    carved on top of it. Thanks to Surabhi Crafts for making her Birthday a memorable
                    one with your unique gift. We will remember this birthday for long.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
            </div>

            <div class="testimonial-item">
                <h3>Jeevasurya</h3>
                <h4>Chengalpattu</h4>
                <div class="stars">
                    <i class="icofont-star"></i>
                    <i class="icofont-star"></i>
                    <i class="icofont-star"></i>
                    <i class="icofont-star"></i>
                    <i class="icofont-star"></i>
                </div>
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Intrigued by the meticulous designs. Go for it to get an organic feel.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
            </div>

            <div class="testimonial-item">
                <h3>Swetha sampath,</h3>
                <h4>Chennai</h4>
                <div class="stars">
                    <i class="icofont-star"></i>
                    <i class="icofont-star"></i>
                    <i class="icofont-star"></i>
                    <i class="icofont-star"></i>
                    <i class="icofont-star"></i>
                </div>
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Surabhi Craftsvilla knows only the best. They take our wishes personally and put
                    in their best effort. I have ordered a rope cot aka charpai. The packing is beyond
                    expectations. I will recommened them for their prompt service and best quality
                    product.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
            </div>

            <div class="testimonial-item">
                <!--            <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">-->
                <h3>Gowtham</h3>
                <h4>Coimbatore</h4>
                <div class="stars">
                    <i class="icofont-star"></i>
                    <i class="icofont-star"></i>
                    <i class="icofont-star"></i>
                    <i class="icofont-star"></i>
                    <i class="icofont-star"></i>
                </div>
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Traditional and great efforts.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
            </div>

        </div>

    </div>
</section>