<section id="hero">
    <div class="hero-container">
        <div class="hero-container">
            <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">
                <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
    
                <div class="carousel-inner" role="listbox">
    
                    <!-- Slide 1 -->
                    <div class="carousel-item active slide1">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2 class="animated fadeInDown"><span>Surabhi</span> CraftsVilla</h2>
                                <p class="animated fadeInUp">Art is not a handicraft, it is the transmission of feeling the
                                    artist has experienced.'</p>
                                <div>
                                    <a href="#services" class="btn-menu animated fadeIn scrollto">Our Services</a>
                                    <a href="#book-a-product" class="btn-book animated fadeIn scrollto">Buy a Product</a>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <!-- Slide 2 -->
                    <div class="carousel-item slide2">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <!--                <h2 class="animated fadeInDown">Lorem Ipsum Dolor</h2>-->
                                <p class="animated fadeInUp">Elegance is not about being noticed, it’s about being
                                    remembered.</p>
                                <div>
                                    <a href="#services" class="btn-menu animated fadeIn scrollto">Our Services</a>
                                    <a href="#book-a-product" class="btn-book animated fadeIn scrollto">Buy a Product</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Slide 3-->
                    <div class="carousel-item slide3">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <!--                <h2 class="animated fadeInDown">Sequi ea ut et est quaerat</h2>-->
                                <p class="animated fadeInUp">Craft-centered education creates a balance between theory and
                                    monotonous learning through creative stimulation and self-expression.</p>
                                <div>
                                    <a href="#services" class="btn-menu animated fadeIn scrollto">Our Services</a>
                                    <a href="#book-a-product" class="btn-book animated fadeIn scrollto">Buy a Product</a>
                                </div>
                            </div>
                        </div>
                    </div>                        
    
                </div>
    
                <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
    
                <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
    
            </div>
        </div>        
    </div>
</section>