<section id="services" class="specials">
    <div class="container">

        <div class="section-title">
            <h2>Check our <span>Products & Services</span></h2>
            <!--          <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>-->
        </div>

        <div class="row">
            <div class="col-lg-3" style="display:none;">
                <ul class="nav nav-tabs flex-column">
                   <!-- <li class="nav-item">
                        <a class="nav-link active show" data-toggle="tab" href="#tab-1">Return Gift</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab-2">Combo Pack</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab-3">Market You Talent</a>
                    </li> -->
                </ul>
            </div>
            <div class="col-lg-12 mt-4 mt-lg-0">
                <div class="tab-content">
                    <div class="tab-pane active show" id="tab-1">
                        <div class="row">
                            <div class="col-lg-6 details order-2 order-lg-1">
                                <h3>Return Gift</h3>
                                <p class="font-italic">Want return gifts to stand out for your guests?</p>
                                <p>Choosing a combination of Unique, Useful and Budget-friendly return gift is no
                                    more an hectic process. We offer a wide variety of handmade and eco-friendly
                                    return gifts for any occasion for you to select.</p>
                            </div>
                            <div class="col-lg-6 text-center order-1 order-lg-2">
                                <!-- <img src="assets/img/slide-1.jpg" alt="" class="img-fluid"> -->
                                <video class="customVideo" src="assets/heroVideo.mp4" muted autoplay loop ></video>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-2">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>Combo Gift</h3>
                                <p class="font-italic">Get more variety for less price!</p>
                                <p>Choose from our exclusively customized combo packs with right mix of products
                                    for yourself and to gift your loved ones.</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/slide-1.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-3">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>Market Your Talent</h3>
                                <p class="font-italic">Earn money by doing what you love!</p>
                                <p>If you have a passion for art, you can convert your hobbies to a new side
                                    business. We provide the platform to market your talent. You can be a student or
                                    house wives or office worker or anyone who has a thirst for art. Send your art
                                    work
                                    to us. Fill this enquiry form.</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/slide-1.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>