<section id="featured" class="why-us">
    <div class="container">

        <div class="section-title">
            <h2>Our favourite <span>Best Sellers - Return Gifts</span></h2>
            <!--<p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque
                vitae autem.</p>-->
        </div>

        <div class="owl-carousel featured-carousel">
            <div class="member">
                <div class="pic"><img src="assets/img/featured/image1.jpg" class="img-fluid img-featured" alt="">
                </div>
                <div class="member-info">
                    <h4>Tamboolam bags</h4>
                    <span>Jute</span>
                </div>
            </div>
            <div class="member">
                <div class="pic"><img src="assets/img/featured/image2.jpg" class="img-fluid img-featured" alt="">
                </div>
                <div class="member-info">
                    <h4>Mobile pouch</h4>
                    <span>Warli art</span>
                </div>
            </div>
            <div class="member">
                <div class="pic"><img src="assets/img/featured/image3.jpg" class="img-fluid img-featured" alt="">
                </div>
                <div class="member-info">
                    <h4>Torans</h4>
                    <span>Paper mache</span>
                </div>
            </div>
            <div class="member">
                <div class="pic"><img src="assets/img/featured/image5.jpg" class="img-fluid img-featured"
                                      alt=""></div>
                <div class="member-info">
                    <h4>Toys</h4>
                    <span>Woods</span>
                </div>
            </div>
            <div class="member">
                <div class="pic"><img src="assets/img/featured/image6.jpg" class="img-fluid img-featured" style="object-position: 74%;" alt=""></div>
                <div class="member-info">
                    <h4>Floating candles</h4>
                    <span>TBD</span>
                </div>
            </div>
            <div class="member">
                <div class="pic"><img src="assets/img/featured/image7.jpg" class="img-fluid img-featured"
                                      alt=""></div>
                <div class="member-info">
                    <h4>Bangle box</h4>
                    <span>Fabric</span>
                </div>
            </div>
            <div class="member">
                <div class="pic"><img src="assets/img/featured/image4.jpg" class="img-fluid img-featured" style="object-position: 27%;"
                                      alt=""></div>
                <div class="member-info">
                    <h4>Kum kum holder</h4>
                    <span>Lac</span>
                </div>
            </div>
            <div class="member">
                <div class="pic"><img src="assets/img/featured/image8.jpg" class="img-fluid img-featured" style="object-position: 74%;" alt=""></div>
                <div class="member-info">
                    <h4>Multipurpose box</h4>
                    <span>Palm leaf</span>
                </div>
            </div>
            <!-- <div class="member">
                <div class="pic"><img src="assets/img/featured/image9.jpg" class="img-fluid img-featured"
                                      alt=""></div>
                <div class="member-info">
                    <h4>Terracotta oil lamp</h4>
                    <span>Return gift</span>
                </div>
            </div> -->
            <div class="member">
                <div class="pic"><img src="assets/img/featured/image10.jpg" class="img-fluid img-featured"
                                      alt=""></div>
                <div class="member-info">
                    <h4>Key hanger</h4>
                    <span>Wood and gemstone painting</span>
                </div>
            </div>
            <div class="member">
                <div class="pic"><img src="assets/img/featured/image11.jpg" class="img-fluid img-featured"
                                      alt=""></div>
                <div class="member-info">
                    <h4>Pocket Mirror</h4>
                    <span>Lac</span>
                </div>
            </div>

        </div>

    </div>
</section>